
.container{
    width: 1300px;
    height: 700px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 12,57);
    

}
.main{
    
    width: 400px;
    height: 400px;
    background-color: rgb(51,28,72);
    box-shadow: inset;
    
   
}
.main>h1{
    position: relative;
    left: 80px;
    color: white;
}
.main>p{
    position: relative;
    left: 120px;
    top: -20px;
    color: white;

}
.main>.formtags{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formtags{
    width: 200px;
    height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 90px;
    gap: 0;

}
.formtags .one{
    display: flex;
    flex-direction: column;
    
    width: 180px;
    height:30px;
    border: bisque;
    margin: 0px;
    border: 3px solid ;
    background-color: white;



    
}
.button{
    margin-top: 10px;
   background-color:  blue;
   width: 190px;
    height:30px;
    border: black;
}