.box-px{
    width: 200px;
    height: 100px;
    border: 2px solid black;
}
.parent-percent{
    width: 200px;
    height: 100px;
    border: 2px solid black;
}
.child-percent{
    width: 50%;
    height: 50%;
    border: 2px solid black;

}
.rem-paragraph{
    font-size: 2rem;
}
.parent-em{
    font-size: 16px;
}
.child-em{
    font-size: 1.5em;
}
.box-vw{
    width: 50vw;
    border: 2px solid blue;
}
.box-vh{
    height: 50vw;
    border: 2px solid blue;
}
.square-vmin{
    width: 20vmin;
    height: 20vmin;
    border: 2px solid blue;
}
.square-vmax{
    width: 20vmax;
    height: 20vmax;
    border: 2px solid blue;
}

.parent-relative{
    position: relative;
    border: 2px solid green;
    width: 200px;
    height: 100px;
}
.child-absolute{
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid yellow;
}
.parent-font{
    font-size: 50px;
}
.child-font{
    font-size: inherit;
}